<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
 <script type="text/javascript" src="javascripts/login.js"></script>
</head>
<body>
  <form method="post" action="/">
    <h2>Log in</h2>
    <input name="username"></input>
    <input name="password"></input>
    <button type="submit" id="login">Log in</button>
  </form>
</body>
</html>
